[access]
	inheritFrom = All-Projects
[project]
	description = Orchestrates calls to various context builders and aggregates data from various data sources into one single payload
[access "refs/*"]
	owner = group ldap/onap-gerrit-logging-analytics-pomba-pomba-context-aggregator-committers
	read = group GitHub Replication
