<configuration scan="true" scanPeriod="3 seconds"
	debug="false">

	<statusListener
		class="ch.qos.logback.core.status.NopStatusListener" />

	<property resource="application.properties" />

	<property name="defaultPattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} $ threadId: {PID:- } %-5level  namespace:${namespace} %logger{20} [ hostname: %X{hostname} serviceName: %X{serviceName} version: %X{version} transactionId: %X{transactionId} requestTimeStamp: %X{requestTimestamp}  responseTimeStamp: %X{responseTimestamp} duration: %X{duration}] %m%n" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<logger name="com" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>